header, nav, main {
    max-width: 960px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
#myButton {
    display: none;
}

ul.menu li a {
    padding: .4rem, 1rem;
}

ul.menu, ul.menu.open {
    display: flex;
    justify-content: flex-end;
}

ul.menu a:hover {
    background-color: $tanColor;
}// end nav

//cards
div.cards{

    section {
        flex-basis: calc(30.0000% - (($gutter*2)/3));
    }
}

footer {
    max-width: 960px;
    margin: auto;
}