/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements



/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
    background-color: $greyColor;

}

// logo
header {
    img {
        width: 100%;
    }
}

// colors
//#090A0D black
//#1E2026 grey
//#F2E96B yellow
//#F2BA52 tan
//#A68444 brown
//#fff white


/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $greyColor;}
header {
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;
    background-color: #1E2026;
    span {
        font-size: 1.6rem;
        font-weight: $boldWeight;
        color: #F2BA52;
    }
} // end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */

// Nav
nav {
    background-color: $blackColor;
}

// humburger
#myButton::before {
    content: "\2630";
}

#myButton {
    border: none;
    background: none;
    color: $whiteColor;
    font-size: 2rem;
    padding: 50;
    width: 44px;
    height: 44px;
    font-weight: $lightWeight;
    cursor: pointer;

}

ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;

    li a {
        color: $whiteColor;
        display: block;
        padding: .75rem $gutter;
        text-decoration: none;
    }
    li.active a {
        background-color: $goldColor;
        color: $blackColor;
    }

}

// css open

ul.open.menu {
    display: block;
}

#myButton.open::before {
    content: "x";
}


/* --------------------------- MAIN --------------------------- */
main {
    h1 {
        padding: 1rem $gutter.5rem $gutter;
        font-size: 1.5rem;
        color: $goldColor;
        font-weight: $boldWeight;
    }
    p {
        padding: .5rem $gutter;
        color: $whiteColor;
        line-height: $leading;
    }
}// end main

//cards
.cards {

    section{
        border: 1px solid $whiteColor;
        border-radius: 10px;
        overflow: hidden;
        background-color: $blackColor;
        margin: 1rem;

        h2, p, img {
            margin: 0;
            padding: 1rem $gutter;
        }

        h2 {
            background-color: $goldColor;
            font-size: 1.5rem;
            text-align: center;
            color: $blackColor;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        img.e3e {
            padding: 0;
        } 
        p {
            font-style: italic;
            color: $whiteColor;

        }
        a {
            display: block;
            text-align: center;
            padding: .75rem;
            background-color: $goldColor;
            color: $blackColor;
            text-decoration: none;
            margin: 0 3rem 1rem 3rem ;
            border-radius: 10px;
        }
    }
}

section h2 {
    color: $goldColor;
}



/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $blackColor;
} // end footer wrapper

//icon
.social ion-icon {
    font-size: 4em;
}
.contact ion-icon {
    font-size: 1rem;
}

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: $whiteColor;
    text-align: center;
    line-height: $leading;
    a {color: $whiteColor;}
}// end footer
