$primaryColor: #1d295f; 
$secondaryColor: #7c1d47;
$accentColor: #3990c3;

$blackColor: #090A0D;
$greyColor: #1E2026;
$goldColor: #F2E96B;
$yellowColor: #F2BA52;
$tanColor: #A68444;
$whiteColor: #fff;




$defaultFont: "Commissioner", serif;
$boldWeight: bold;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;